<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "MAPTITULONAVBAR" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h4>{{ "MAPTITULO1" | translate }}</h4>
    <p>{{ "MAPTEXTO1" | translate }}</p>
  </ion-text>
  <app-gmaps></app-gmaps>
  <ion-button (click)="logout()" expand="block" fill="clear" shape="round">
    {{"MAPCERRARSESION" | translate}}
  </ion-button>
</ion-content>
