<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ "INICIOTITULONAVBAR" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-left">
    <h5><b>{{ "INICIOTITULO1" | translate }}</b></h5>
    <img src="../assets/imgHome/catedral.webp" alt="foto catedral">
    <p>{{ "INICIOTEXTO1" | translate }}</p>
    <h3>{{ "INICIOTITULO2" | translate }}</h3>
    <img src="../assets/imgHome/plaza_real.jpg" alt="foto plaza real">
  </div>

</ion-content>
